var isPriceNull = function (price) {
  if (!price) {
    return false
  }
  if (price === '') {
    return false
  }
  return true
}

var returnKey = function (array) {
  if (array.length > 0) {
    for (var i = 0; i < array.length; ++i) {

    }
    return i
  }
}

var stock = function (num) {
  if (num >= 0 && num < 10) {
    if (num === 0) {
      return '售罄'
    }else {
      return '仅剩：' + num + '件'
    }
  } else if (num >= 10) {
    return '库存：' + num + '件'
  }
}

module.exports = {
  isPriceNull: isPriceNull,
  returnKey: returnKey,
  stock: stock
}